

.about{
    background-color: rgb(175, 196, 175);
    border: 1px solid #333;
}

.about h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: darkcyan;
}

.about h5 {
    font-size: 20px;
    color: #6a6a6a;
    
}

