

.about{
    border: 1px solid orange;
}

.about h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: orange;
}

.about h5 {
    font-size: 20px;
    color: orange;
    
}

.about img {
    max-width: 70%;

}