

.admin{
    padding: 40px 20px;
    background-color: rgb(208, 111, 26);

}

.admin h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(128, 81, 35);
}

.admin h4 {
    font-size: 20px;
    color: rgb(123, 83, 35);
    
}

.admin .forms-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;


}

.admin .form {
    flex: 1;
    max-width: 400px;
    border: 1px solid rgb(131, 75, 32);
    padding: 15px 10px;
    border-radius: 4px;
    text-align: left;
    background-color: rgb(240, 149, 31);


}

.admin .form div {
    margin-bottom: 10px;

}

.admin .form h3 {
    color: rgb(120, 84, 30);
    text-align: center;
}