

.cart{
    padding: 40px 20px;
    background-color: brown;

}

.cart h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: orange;
}

.cart h3 {
    font-size: 20px;
    color: orange;
    
}

.cart .prod-list {
    max-width: 800px;
    
}