

.cart{
    padding: 40px 20px;
    background-color: rgb(223, 118, 20);

}

.cart h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(131, 88, 36);
}

.cart h3 {
    font-size: 20px;
    color: rgb(133, 81, 33);
    
}

.cart .prod-list {
    max-width: 800px;
    
}