

.home{
    padding: 40px 20px;


}

.home h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: orange;
}

.home h4 {
    font-size: 20px;
    color: orange;
    
}

.home img {
    max-width: 100%;

}
